<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Sam Ip (samuel.s.ip@gmail.com)">
        <meta name="description" content="Sam's GitHub.io page">
        <title>{{ page.title }}</title>
        <!-- Use w3.css (modern CSS framework), which is a responsive style sheet that makes it easy to develop sites that look like at any size; desktop, laptop, tablet or phone.  For your convenience, the link is here: https://www.w3schools.com/w3css/default.asp 
        
        TODO: Switchover to Bootstrap.-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="styles/style.css">
        <!-- Make responsive webpage -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <img src="/images/BannerSamAvatar.png" alt="SamAvatar" style="width:20%">
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div> <!-- /.container -->

    <!-- <img src="images/BannerSamAvatar.png" alt="SamAvatar" style="width:20%">
    <h1>Welcome</h1>
    <p>I'm a technology lawyer and reformed engineer that's still dabling in code - probably more than I should after catching the innovation bug from the many late night conversations with a young software developer that used to work in our IT department (thank you Ryan). We've since collaborated to either place or win honourable mentions in a number of local hackathons. The GitHub repos have the code to some of the projects we've worked on, and this page showcases some of the running projects / projects-in-progress </p>
    You can email me at <a href="mailto:sip@osler.com">sip@osler.com</a></p>
    <h2>Osler Code Detect</h2>
        I'm one co-creators of a web-based free open source scanner developed to assist Osler's open source practice. It's a very neat tool that scans source code using regular expressions to identify potentially problematic licenses.
        
        <p>You can try Osler Code Detect by: <a href="https://www.osler.com/en/tools/code-detect">clicking here</a></p>
    <h2>Terms of Use and Privacy Policy Generator</h2>
        There are too many great clients, but only 24 hours a day to work with them. On a Friday summer night, I tried looking for great terms of use / privacy policy generators and, while many exist, few are actually suitable for Canadian organizations. Lots of enterprise companies purport to offer contract assembly solutions for Canadian organizations, but they are unweldy and overly-complex - often taking months and months for organizations to deploy. I wanted to see how difficult this undertaking was to get to a minimum viable product in a day, and this was the result.
        <p> You can try the prototype Terms of Use and Privacy Policy Generator by: <a href="projects/TermsGenerator/index.html">clicking here</a> </p>
    </div>-->
    <footer>
        <ul>
            <li><a href="mailto:samuel.s.ip@gmail.com">email</a></li>
            <li><a href="http://github.com/Sam1p">github.com/Sam1p</a></li>
        </ul>
    </footer>
</body>
</html>